* {
    box-sizing: border-box;
    background-image: url("https://cdn.pixabay.com/photo/2017/01/05/09/21/tic-tac-toe-1954446_640.jpg");
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Permanent Marker",cursive;
    background-color: #f7f7f7;
}

.container {
    text-align: center;
    color: #fff;
}

h1 {
    margin-bottom: 20px;
}

#restartButton{
    color: #f7f7f7;
    border-color: #f7f7f7;
    border-radius: 20%;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #fff;
    font-size: 2rem;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#restartButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

#winner-message {
    margin-top: 20px;
    font-size: 1.5rem;
    color: green;
}
