html { 
    background: url(https://w0.peakpx.com/wallpaper/90/456/HD-wallpaper-buy-snake-pass-snake-game.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
body {
    text-align: center;
    
}
h1{
    font-family: MD Primer Bold, Rubik, Lato, Lucida Grande, Lucida Sans Unicode, Tahoma, Sans-Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 5rem;
    letter-spacing: .03rem;
    font-weight: 800;
}
.geeks {
    font-size: 40px;
    font-weight: bold;
    color: green;
    
}
